{% extends "dashboard/base.html" %}

{% block head_title %} {{ block.super }} | Dashboard{% endblock head_title %}

{% block content %}
<div id="" class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4">

</div>
<div class="grid grid-cols-2 gap-4 mb-4 h-72">
  <div id="" class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
  <div id="" class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-48 md:h-72"></div>
</div>
{% include "dashboard/footer.html" %}

{% endblock content %}

