{% extends "base.html" %}

{% block head_title %} {{ block.super }} | Users {% endblock head_title %}

{% block content %}
    {% if perms.auth or owner %}
        {% if perms.auth.view_user or owner %}
            <h1 class="text-lg font-medium"> User Details </h1><br>
            <div>
                {{ instance.first_name }} {{ instance.last_name }} <br>
                Last login: {{ instance.last_login }}
            </div>
        {% else %}
            <h1 class="text-lg font-medium text-red-500"> You are not authorized to view this page ⚠️</h1>
        {% endif %}
    {% endif %}
    
{% endblock content %}

